@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

/* General Styles */


body {
  font-family: 'Oswald', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header .logo h1 {
  color: #006eff93;
  font-size: 2rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav .login {
  background-color: #006eff93;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Responsive Header */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  header .logo h1 {
    font-size: 1.5rem;
  }

  nav {
    flex-direction: column;
  }

  nav a {
    margin: 10px 0;
  }
}

/* Main */
main {
  text-align: center;
  padding: 50px 20px;
  width: 100vw; /* Full viewport width */
  min-height: 100vh; /* Minimum height of the viewport, grows with content */
  margin: 0;     /* Remove default margin */
  box-sizing: border-box; /* Include padding in width and height */
}

.intro h2 {
  color: #006eff93;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.intro blockquote {
  font-style: italic;
  margin: 20px 0;
  color: #666;
  font-size: 1.1rem;
}

.intro img {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.testimonials h2 {
  color: #006eff93;
  margin-bottom: 20px;
  font-size: 2rem;
}

.review {
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.stars {
  color: gold;
  font-size: 1.5rem;
}

.review p {
  font-size: 1.1rem;
  margin-top: 10px;
}



/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Login Form */
.login-form {
  padding: 40px;
  border-radius: 10px;
  max-width: 500px;
  margin: 40px auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
  margin-bottom: 20px;
  color: #006eff93;
}

.login-form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form .formButton {
  width: 20%;
  padding: 15px;
  background-color: #006eff93;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.login-form .formButton:hover {
  background-color: #005bcc;
}


/* Contact Page */
.contact {
  padding: 40px;
  border-radius: 10px;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  margin-bottom: 30px;
  color: #006eff93;
}

.contact-section {
  margin-bottom: 20px;
}

.contact-section h3 {
  color: skyblue;
  margin-bottom: 10px;
}

.contact-section textarea {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.contact-section button {
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.contact-section button:hover {
  background-color: #e64a19;
}


/* Pricing container styling */
.pricing {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Pricing title */
.pricing h2 {
  color: #006eff93;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}
.emp-roster-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 10px; 
  width: 80%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-item img {
  padding: 10px;
  max-width: 600px; /* Increase image size */
  width: 100%; 
  height: auto; 
}

.feature-item p {
  margin: 10px 0; 
  text-align: center;
}

/* Features table styling */
.features-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.features-table th, .features-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.features-table th {
  background-color: #006eff93;
  color: #fff;
  font-size: 1.2em;
}


/* Request pricing button */
.request-pricing-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff5722;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.request-pricing-button:hover {
  background-color: #e64a19;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  max-width: 1000px;
  font-family: 'Oswald', sans-serif;
  border-radius: 8px; /* Add rounded corners */
  gap: 20px; /* Adds a gap between the calendar and schedule details */
}

.schedule-details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;  /* Adjust width to use the full container */
  gap: 10px;  /* Adds gap between elements in the schedule details container */
  margin-top: 20px;  /* Add a little spacing on top if needed */
}

/* Wrapper to hold calendar and shift details side by side */
.schedule-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  width: 100%;
  gap: 20px; 
  padding: 20px;
}

/* Shift details styling */
.shift-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Form inputs styling */
.shift-details form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

.shift-details input, .shift-details button {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.shift-details button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
  
}


.schedule-details {
  margin-top: 20px;
}

.schedule-details h3 {
  color: #006eff93;
}

.schedule-details ul {
  list-style-type: none;
  padding: 0;
}

.schedule-details li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Modal Styling */
.modal {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input[type="text"],
.modal input[type="number"],
.modal input[type="date"],
.modal input[type="time"] {
  width: 380px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal input[type="text"]:focus,
.modal input[type="number"]:focus,
.modal input[type="date"]:focus,
.modal input[type="time"]:focus {
  padding: 8px;
  outline: none;
  border-color: #006eff93;
}

.modal button[type="submit"] {
  background-color: #006eff93;
}


.modal button[type="button"] {
  background-color: #ff5722;
}


/* Title styling */
.schedule-container h2 {
text-align: center;
margin-bottom: 20px;
color: #006eff93;
}


/* Calendar styling */
.react-calendar {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; 
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .react-calendar__tile {
  max-width: 100%;
  padding: 10px 0;
  background: none;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  color: #333;
  }
  
  .react-calendar__tile--active {
  background-color: #006eff93;
  color: white;
  }
  
  .react-calendar__navigation__label{
    background-color: #006eff93;
    color: black;
    }
    .react-calendar__navigation {
      background-color:  #006eff93; 
    }
    
  
  .react-calendar__tile--now {
  background-color: #006eff93;
  color: white;
  }
  
  .react-calendar__month-view__weekdays__weekday{
    color: black;
  }
  
  

/* Schedule details section */
.schedule-details {
  margin-top: 20px;
  }
  
  .schedule-details h3 {
  margin-bottom: 10px;
  color: #006eff93;
  }
  
  .schedule-details ul {
  list-style: none;
  padding: 0;
  }
  
  .schedule-details ul li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .schedule-details ul li button {
  background-color: #006eff93;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  }
  
  
  /* Button for adding a shift */
  button {
  background-color: #006eff93;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  
  

/* Button for adding a shift */
button {
background-color: #006eff93;
border: none;
color: white;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
margin-top: 10px;
display: block;
margin-left: auto;
margin-right: auto;
}


/* Modal styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .modal-content {
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: skyblue;
  }
  
  .modal-content h3 {
  margin-top: 0;
  color: #006eff93;
  }
  
  .modal-content form {
  display: flex;
  flex-direction: column;
  }
  
  .modal-content form div {
  margin-bottom: 15px;
  }
  
  .modal-content form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  }
  
  .modal-content form input[type="date"],
  .modal-content form input[type="time"],
  .modal-content form input[type="text"],
  .modal-content form input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  
  .modal-content form button {
  margin-top: 10px;
  }
  
  .modal-content form button[type="submit"] {
  background-color: #006eff93;
  }
  
  .modal-content form button[type="button"] {
  background-color: #006eff93;
  margin-left: 5px;
  }
  
  .modal-content form button[type="button"]:hover {
  background-color: #006eff93;
  }
  

/* Tasks Page */
.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  max-width: 1000px;
  font-family: 'Oswald', sans-serif;
  border-radius: 8px; /* Add rounded corners */
}



.tasks-container h2 {
  color: #006eff93;
  margin-bottom: 20px;
}

.task-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.task-form h3 {
  color: #006eff93;
  margin-bottom: 15px;
}

.task-form input,
.task-form select,
.task-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.task-form textarea {
  resize: vertical;
  min-height: 100px;
}

.task-form button {
  background-color: #006eff93;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}



.task-list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.task-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.task-list th,
.task-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.task-list th {
  background-color: #f4f4f4;
  color: #006eff93;
}

.task-list tr:nth-child(even) {
  background-color: #f9f9f9;
}
.calendar-and-task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* Calendar */
.calendar-container {
  flex: 1;
  margin-right: 20px;
}

.react-calendar {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

/* Task Form */
.task-form-container {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.task-form-container h3 {
  text-align: center;
  margin-bottom: 20px;
}


.task-form-container input[type="text"],
.task-form-container input[type="number"],
.task-form-container input[type="time"],
.task-form-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-form-container input[type="time"] {
  width: 45%;
  display: inline-block;
  margin-right: 10px;
}

.task-form-container button {
  width: 100%;
  padding: 10px;
  background-color: #006eff93;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


/* Task List */
.tasks-list {
  margin-top: 40px;
}

.tasks-list h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #006eff93;
}

.tasks-list ul {
  list-style-type: none;
  padding: 0;
}

.tasks-list li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-list li .task-name {
  font-weight: bold;
  font-size: 16px;
}

.tasks-list li .task-description {
  color: #555;
  margin: 5px 0;
}

.tasks-list li .task-details {
  display: flex;
  flex-direction: column;
}

.tasks-list li button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}


.tasks-list li .task-time {
  font-size: 14px;
  color: #666;
}
/* Container for the calendar and task form */
.calendar-form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px; /* Limit maximum width */
  margin-bottom: 20px; /* Space between form and task list */
}

/* Container for the entire Time Off Request page */
.time-off-request-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header styling */
.time-off-request-container h2{
  color: #006eff93;
}
.request-history h3 {
  color: #006eff93;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Calendar container */
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-side-by-side {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.calendar {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Highlight public holidays */
.holiday {
  color: #ff5722;
  font-weight: bold;
  font-size: 12px;
}

.holiday-tile {
  background-color: #ffe6e6;
}

/* Form inputs for Start Date, End Date, and Reason */
form div {
  margin-bottom: 15px;
}



form input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fafafa;
}

form textarea {
  width: 30%;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fafafa;
  resize: vertical;
}
.react-calendar__navigation button {
    min-width: 44px;
    background: none;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    padding: 0;              /* Remove any default padding */
    border: none;            /* Remove default border if necessary */
}


/* Submit button */
form button[type="submit"] {
  display: block;
  width: 20%;
  padding: 10px;
  background-color: #006eff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* Request history section */
.request-history {
  margin-top: 30px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.request-history ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.request-history li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-history li:last-child {
  border-bottom: none;
}

.request-history p {
  color: #777;
  text-align: center;
}

/* Delete button for requests */
.delete-button {
  padding: 5px 10px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}



/* Admin Page */
.admin-form {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align forms to the top */
  flex-wrap: wrap;
  gap: 20px; /* Space between the forms */
}



.admin-form {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align forms to the top */
  flex-wrap: wrap;
  gap: 500px; /* Space between the forms */
}


.add-form input, .add-form select, .update-form input, .update-form select {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.menu-buttons button, .admin-form button, .add-form button, .user-card button, .update-form button {
  margin: 0px auto;
  margin-top: 10px;
  display: block;
  padding: 10px 20px;
  font-family: 'Century Gothic';
  background-color: skyblue;
  border-style: none;
  border-radius: 5px;
}

.user-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  float: left;
  width: 40%;
  text-align: justify;
}

/* Container for filters */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the boxes */

  gap: 10px; /* Reduces space between the boxes */
  margin-bottom: 20px;
}


/* Style for each filter item */
.filter-item {
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* Search input and filter dropdowns */
#search,
#filterLevel,
#filterStatus,
#filterUser,
#filterRequest,
#filterIP,
#filterReferrer,
#filterSize,
#startTimestamp,
#endTimestamp,
#filterCompany,
#filterRole {
  padding: 8px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Filter button */
.filter-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 24px;
}

/* Skill options container */
form div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

/* Logs table styling */
.logs-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.logs-table th,
.logs-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.logs-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}


/* Update user page styles uses similar styling to admin page above*/

.clock-in-out-container {
  padding: 20px;
  max-width: 700px;
  margin: 40px auto;
  font-family: Oswald, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.clock-in-out-container h2 {
  text-align: center;
  color: #4a90e2;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
}

.assignment-item {
  border: 1px solid #e0e6ed;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.clock-in-button,
.clock-out-button {
  padding: 10px 15px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.clock-in-button:hover,
.clock-out-button:hover {
  background-color: #357abd;
  transform: translateY(-2px);
}

.clock-in-button:disabled,
.clock-out-button:disabled {
  background-color: #b3cde0;
  cursor: not-allowed;
}

.button-container {
  text-align: right;
  margin-top: 15px;
}

.clock-time-display {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.no-assignments {
  text-align: center;
  font-size: 16px;
  color: #888;
  margin-top: 20px;
}

.clock-in-out-container h3 {
  font-size: 20px;
  color: #4a90e2;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

/* Update user page styles uses similar styling to admin page above*/
/* Container styling */
.training-session-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

/* Heading styling */
.training-session-container h2 {
  color: #006eff93;
  margin-bottom: 20px;
  text-align: center;
}

/* Form styling */
.training-session-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

/* Dropdown and input fields */
.training-session-form select,
.training-session-form input[type="text"],
.training-session-form input[type="date"],
.training-session-form input[type="time"],
.training-session-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
}

/* Textarea styling */
.training-session-form textarea {
  min-height: 100px;
  resize: vertical;
}

/* Date and time container */
.date-time-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.date-time-container div {
  flex: 1;
}

/* Button styling */
.submit-button {
  padding: 10px 20px;
  background-color: #006eff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  text-align: center;
}

.submit-button:hover {
  background-color: #0056cc;
}

/* Sessions list */
.sessions-list {
  list-style: none;
  padding: 0;
}

.session-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Action buttons */
.action-buttons {
  display: flex;
  gap: 10px;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Container to hold both the calendar and task form */
.calendar-and-task-form {
  display: flex;             
  justify-content: space-between; 
  gap: 100px;                 
}

/* Calendar container */
.calendar-container {
  flex: 5;                  
  min-width: 300px;         
}

/* Task form container */
.task-form-container {
  flex: 5;                   
  min-width: 300px;          
}

/* Optional: You can adjust max width or padding as needed */

/* Styles for the request history section */
.request-history ul {
  list-style-type: none;
  padding: 0;
}

.request-history li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.request-history li div {
  font-size: 0.9em;
  color: #555;
  margin-top: 5px;
}

.request-history li div strong {
  color: #333;
}

.request-history .delete-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.request-history .delete-button:hover {
  background-color: #c9302c;
}

.feedback-container {
  width: 60%;
  margin: auto;
  padding: 20px;
}

.feedback-card{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  margin: auto;
  width: 30%;
  text-align: center;
}
.feedback-container h2, .feedback-container h3 {
  color: #006eff93;
}

h5{
  font-family: Oswald, sans-serif;
  font-size: larger;
}

/* General table styling */
table {
  font-family: Oswald, sans-serif;
  margin: auto;
  border-collapse: separate;
  border-spacing: 20px;
  width: auto;
}

/* Table header styling */
table th {
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  border-bottom: 2px solid #006eff93;
}

/* Table row styling */
table td {
  padding: 10px 20px;
  border-bottom: 3px solid #ddd;
}

.feedback-container form {
  display: flex;
  flex-direction: column;
}

.feedback-container form div {
  margin-bottom: 15px;
}

.feedback-container form label {
  font-weight: bold;
}

.feedback-container form textarea, 
.feedback-container form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.feedback-container button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.feedback-container button:hover {
  background-color: #45a049;
}

.feedback-container ul {
  list-style: none;
  padding: 0;
}

.feedback-container li {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
div.container{
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: auto;
}
/* Project.js page */
body {
  font-family: Oswald, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  color: #006eff93;
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 20px auto;
}

li {
  border: 1px solid #e0e6ed;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

li:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #006eff93;
  margin: 0 0 10px;
}


/*Shift swapping css */
.error {
  color: red;
  font-weight: bold;
}


button {
  padding: 10px 30px;
  cursor: pointer;
}


/*light dark mode*/
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --header-background: #006eff93;
  --link-color: #006eff;
}

.dark-mode {
  --background-color: #1e1e1e;
  --text-color: #ffffff;
  --header-background: #333333;
  --link-color: #79a6f6;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: var(--header-background); 
}

nav a {
  color: var(--link-color);
  text-decoration: none;
  margin: 0 10px;
}

.theme-toggle {
  background: none;
  border: none;
  color: var(--link-color);
  cursor: pointer;
  font-size: 1em;
  margin-left: 15px;
}

button.logout {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 0px 10px;
  cursor: pointer;
}

.holiday-tile {
  background-color: #ffeb3b; /* Light yellow for holidays */
}

.holiday {
  font-weight: bold;
  color: #d32f2f; /* Dark red text for holiday names */
}


/* Dropdown Button */
.dropdown {
  display: inline-block;
  font-size: 1rem; /* Adjust to match the font size of other headings */
  font-weight: bold; /* Matches heading style */
  color: #333; /* Ensure this matches the color of your other headings */
  padding: 0px 15px;
  cursor: pointer;
}

.button dropbtn{
  background-color:blue;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 0.9rem; 
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown links */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Oswald'; 
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Flex container for calendar and shift details */
.payroll-flex-container {
  display: flex;
  gap: 20px; /* Adds space between the calendar and shift details */
}
/* Styling for the payroll table container */
.payroll-table-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}



/* Dropdown styling for Year, Month, and Employee selection */
select {
  margin: 5px 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.calendar-section {
  width: 50%; /* Adjust width as needed */
}

.shift-details {
  width: 50%; /* Adjust width as needed */
}

.shift-time-inputs {
  display: flex;
  gap: 10px;
  align-items: center;
}


.shift-time-inputs label,
.shift-time-inputs input {
  margin: 0;
}
/* Center the Add Shift button */
.shift-details button {
  display: block;
  margin: 0 auto;
}

/* Container styling */
.timeoff-container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 25px;
  background-color: var(--container-bg-color);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-family: Oswald, sans-serif;
  color: var(--text-color);
}

.timeoff-container h2 {
  color: var(--heading-color);
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Table styling */
.timeoff-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.timeoff-table th, .timeoff-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  font-size: 1em;
}

.timeoff-table th {
  background-color: var(--table-heading-bg);
  font-weight: bold;
}

.timeoff-table tr:nth-child(even) {
  background-color: var(--row-bg);
}

.timeoff-table tr:hover {
  background-color: var(--row-hover-bg);
}

/* Button styling */
.approve-button, .reject-button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.approve-button {
  background-color: #006eff93;
}

.reject-button {
  background-color: #dc3545;
}
/* General profile container styling */
.profile-container {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
.profile-heading {
  text-align: center;
  margin-bottom: 20px;
}

/* Form styling */
.profile-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Label styling */
.form-label {
  font-size: 14px;
  font-weight: 600;
}

/* Input styling */
.form-input {
  padding: 10px;
  margin-top: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

/* Disabled input field styling */
.form-input[disabled] {
  background-color: #e9e9e9;
  cursor: not-allowed;
}

/* Submit button styling */
.form-button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #006eff93;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #0056e0;
}

/* Error message styling */
.error-message {
  color: #ff0000;
  text-align: center;
  font-size: 16px;
}

/* Loading message styling */
.loading-message {
  text-align: center;
  font-size: 18px;
  color: #666;
}

