/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    box-sizing: border-box;
}

.App {
<<<<<<< HEAD
    max-width: 1500px;
=======
    max-width: 1200px;
>>>>>>> b39d72f3930b78a1bea31562dcdd5e32870d0452
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
    padding: 2rem 30px; /* Increased padding for more space */
    height: 80px; /* Adjusted height */
=======
    padding: 1rem 50px;
>>>>>>> b39d72f3930b78a1bea31562dcdd5e32870d0452
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    color: #0000ff;
<<<<<<< HEAD
    font-size: 1.8rem; /* Adjust font size if needed */
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 20px; /* Increased margin for spacing */
    text-decoration: none;
    color: #333;
    font-size: 1.1rem; /* Adjust font size if needed */
}

nav .login {
    background-color: #006eff93;
    color: white;
    padding: 12px 24px; /* Adjust padding for button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Adjust font size if needed */
=======
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

nav .login {
    background-color:#006eff93;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
>>>>>>> b39d72f3930b78a1bea31562dcdd5e32870d0452
}

main {
    padding: 50px 100px;
    text-align: center;
}

.intro h2 {
    color: #006eff93;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.intro blockquote {
    font-style: italic;
    margin: 20px 0;
}

.intro img, .feature-item img {
    width: 80%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.testimonials h2 {
    color: #006eff93;
    margin: 50px 0 20px;
}

.testimonials p {
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.review {
    margin-bottom: 20px;
}

.stars {
    color: gold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Login Form Styles */
.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.login-form .formButton {
    border: none;
    padding: 10px;
    background-color: #006eff93;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
}

/* Contact Page Styles */
.contact {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.contact h2 {
    text-align: center;
    color: #006eff93;;
}

.contact-section {
    margin-bottom: 20px;
}

.contact-section h3 {
    color: #555;
    margin-bottom: 10px;
}

.contact-section p {
    margin: 5px 0;
    color: #666;
}

.contact-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.contact-section button {
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.contact-section button:hover {
    background-color: #e64a19;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h4 {
    color: #555;
    margin-bottom: 5px;
}

.faq-item p {
    margin: 0;
    color: #666;
}

/* Pricing Page Styles */
.pricing {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

.pricing h2 {
    color: #006eff93;
    margin-bottom: 20px;
}

.features-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.features-table th,
.features-table td {
    border: 1px solid #006eff93;;
    padding: 10px;
    text-align: left;
}

.features-table th {
    background-color: #f4f4f4;
    color: #333;
}

.features-table td {
    background-color: #fff;
    color: #333;
}

.features-table td:first-child {
    font-weight: bold;
}

.request-pricing-button {
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.request-pricing-button:hover {
    background-color: #e64a19;
}
<<<<<<< HEAD
/* Schedule.js design */
.schedule-container {
=======

 /*Schedule.js design */
 .schedule-container {
>>>>>>> b39d72f3930b78a1bea31562dcdd5e32870d0452
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    width: 90%;
    max-width: 600px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: #f0f4f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
=======
    width: 100%; /* Adjust width as needed */
    max-width: 500px; /* Maximum width for large screens */
    height: 100vh; /* Adjust height as needed */
    margin: 0 auto; /* Center container horizontally */
    text-align: center;
>>>>>>> b39d72f3930b78a1bea31562dcdd5e32870d0452
  }
  
  .schedule-details {
    margin-top: 20px;
<<<<<<< HEAD
    width: 100%;
  }
  
  .schedule-details h3 {
    color: #2c3e50;
    font-size: 1.5rem;
    margin-bottom: 15px;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
=======
  }
  
  .schedule-details h3 {
    color: #333;
>>>>>>> b39d72f3930b78a1bea31562dcdd5e32870d0452
  }
  
  .schedule-details ul {
    list-style-type: none;
    padding: 0;
<<<<<<< HEAD
    margin: 0;
  }
  
  .schedule-details li {
    background-color: #ecf0f1;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    color: #34495e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .add-shift-form {
    margin-top: 30px;
    width: 100%;
  }
  
  .add-shift-form h3 {
    color: #2c3e50;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
=======
  }
  
  .schedule-details li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .add-shift-form {
    margin-top: 20px;
  }
  
  .add-shift-form h3 {
    color: #333;
>>>>>>> b39d72f3930b78a1bea31562dcdd5e32870d0452
  }
  
  .add-shift-form form {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    width: 100%;
  }
  
  .add-shift-form form div {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .add-shift-form form label {
    font-size: 1rem;
    color: #2c3e50;
    flex: 1;
    margin-right: 10px;
  }
  
  .add-shift-form form input {
    padding: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
    font-size: 1rem;
  }
  
  .add-shift-form button {
    padding: 12px 30px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    align-self: center;
    width: 50%;
    max-width: 200px;
    margin-top: 10px;
  }
  
  .add-shift-form button:hover {
    background-color: #2980b9;
  }
/* Availability*/

.availability-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .availability-details {
    margin-top: 20px;
  }
  
  .availability-list {
    margin-top: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  
  /* Center the calendar */
  .react-calendar {
    margin: 0 auto;
  }
  
  /* Time Off Request */
  .time-off-request-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
  }
  
  .request-history {
    margin-top: 20px;
  }
  
  .request-history ul {
    list-style-type: none;
    padding: 0;
  }
  
  .request-history li {
    margin-bottom: 10px;
  }
  
  .calendar {
    margin: 0 auto;
  }
  
  /* Tasks */
  /* Tasks Page Styles */
.tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
}

.tasks-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasks-form h2 {
    color: #006eff93;
    margin-bottom: 20px;
}

.tasks-form label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.tasks-form input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}

.tasks-form button {
    background-color: #006eff93;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.tasks-form button:hover {
    background-color: #0056b3;
}
=======
  }
  
  .add-shift-form form div {
    margin-bottom: 10px;
  }
  
  .add-shift-form form label {
    margin-right: 10px;
    width: 100px;
  }
  
  .add-shift-form form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .add-shift-form button {
    padding: 10px 20px;
    background-color: #006eff93;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-shift-form button:hover {
    background-color: #006eff93;
  }
  
>>>>>>> b39d72f3930b78a1bea31562dcdd5e32870d0452
